

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;
  }
  
  .left-section {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Right Section: Graph */
  .right-section {
    flex: 1; 
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  /* Text Boxes Section */
  .text-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
  }
  
  button {
    margin-left: 10px;
  }

  
  .form-field {
    margin: 0;
  }

  .no-background-button{
    background-color: white;
    padding: 5px;
    color: grey;
    border: 1px solid grey;
  }

  
  .no-background-button :hover {
    background-color: "primary";
    padding: 5px;
  }