<div class="container">
    <!-- Text Boxes Section -->
    <div class="left-section">
        <div class="text-boxes">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>ROI</mat-label>
            <input matInput [value]="roiValue" disabled />
            <button mat-icon-button matSuffix (click)="toggleInfo('ROI')" class="no-background-button">
                Trend
            </button>
        </mat-form-field>
        <mat-form-field class="form-field">
            <mat-label>NPA</mat-label>
            <input matInput [value]="npaValue"  disabled/>
            <button mat-icon-button matSuffix (click)="toggleInfo('NPA')" class="no-background-button">
                Trend
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>PCR</mat-label>
            <input matInput [value]="pcrValue" disabled />
            <button mat-icon-button matSuffix (click)="toggleInfo('NPA')" class="no-background-button">
                Trend
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Secured/Unsecured %</mat-label>
            <input matInput [value]="securedValue" disabled />
            <button mat-icon-button matSuffix (click)="toggleInfo('NPA')" class="no-background-button">
                Trend
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>MFI %</mat-label>
            <input matInput [value]="mfiValue" disabled />
            <button mat-icon-button matSuffix (click)="toggleInfo('NPA')" class="no-background-button">
                Trend
            </button>
        </mat-form-field>
        </div>
    </div>
     <!-- Right Side: Graph -->
    <div class="right-section">
       <app-roi-graph></app-roi-graph>
    </div>
  </div>